@import "tailwindcss";

:root {
  --light-green: #2d892c;
  --dark-green: #153930;
  --light-grey: #737373;
  --dark-grey: #545454;
  --ivory: #eceae3;
  --light-ivory: #f4f2ee;
  --background: #f4f2ee;
  --foreground: #153930;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
